{% include 'st_header.html' %}

<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<fieldset>
				<legende class="form-control"><center><strong><i>Données</i></strong></center></legende>
				<table class="table table-bordered table-bordered">
					<tbody>
						<tr>
					        <td width="90%"><i class="fa fa-database"></i> Données</td>
					        <td width="10%" class="text-center">
					        	<i class="fa fa-download" id="envoi_donne_saisie"></i>
					        	<img src="datas/images/loader.gif" class="loader-gif" width="15">
					        </td>
					    </tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
</div>

{% include 'st_footer.html' %}