<div class="header" id="header-front">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><center><img src="datas/images/prim.png" width="200"></center></div>
        <div class="col-md-6">
            <h1><center><i>MASQUE DE SAISIE D'EVALUATION</i></center></h1>
        </div>
        <div class="col-md-2"><center><img src="datas/images/men-x.png" width="80"></center></div>
        <div class="col-md-1"></div>
    </div>
    <nav class="navbar navbar-inverse row" style="background-color: black!important">
        <div class="container-fluid">
            <div class="navbar-header">
                  <a class="navbar-brand" href="javascript:void(0)" id="menue-accueil"><i class="fa fa-home"></i><strong> Accueil</strong></a>
            </div>
            <ul class="nav navbar-nav">
                  <li><a href="javascript:void(0)" id="menue-liste"><i class="fa fa-list"></i><strong> Liste evaluer</strong></a></li>
            </ul>
            <ul class="nav navbar-nav">
                  <li><a href="javascript:void(0)" id="menue-synch"><i class="fa fa-download"></i><strong> Synchronisarion</strong></a></li>
            </ul>
            <ul class="nav navbar-nav">
                  <li><a href="javascript:void(0)" id="menue-envoi"><i class="fa fa-cog"></i><strong> Envoi de donnee</strong></a></li>
            </ul>
            <ul class="nav navbar-nav" style="float: right;">
                  <li><a href="javascript:void(0)" id="menue-deconnexion"><i class="fa fa-arrow-circle-right"></i><strong> Deconnecter</strong></a></li>
            </ul>
        </div>
    </nav>
</div>
