{% include 'st_header.html' %}
<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<fieldset>
				<legende class="form-control"><center><strong><i>Nouveau table</i></strong></center></legende>
				<table class="table table-bordered table-bordered">
					<tbody>
						<tr>
					        <td width="90%"><i class="fa fa-database"></i> Table de liste</td>
					        <td width="10%" class="text-center">
					        	<i class="fa fa-download" id="synchr-table-liste"></i>
					        	<img src="datas/images/loader.gif" class="loader-gif" width="15">
					        </td>
					    </tr>
					    <tr>
					        <td width="90%"><i class="fa fa-database"></i> Table des données</td>
					        <td width="10%" class="text-center">
					        	<i class="fa fa-download" id="synchr-table-donnee"></i>
					        	<img src="datas/images/loader.gif" class="loader-gif" width="15">
					        </td>
					    </tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="col-md-6">
			<fieldset>
				<legende class="form-control"><center><strong><i>Parametres</i></strong></center></legende>
				<table class="table table-bordered table-bordered">
					<tbody>
						<tr>
					        <td width="90%"><i class="fa fa-database"></i> Recherche</td>
					        <td width="10%" class="text-center">
					        	<i class="fa fa-download" id="synchr-params-searche"></i>
					        	<img src="datas/images/loader.gif" class="loader-gif" width="15">
					        </td>
					    </tr>
					    <tr>
					        <td width="90%"><i class="fa fa-database"></i> Coherence de colonne</td>
					        <td width="10%" class="text-center">
					        	<i class="fa fa-download" id="synchr-params-colonne"></i>
					        	<img src="datas/images/loader.gif" class="loader-gif" width="15">
					        </td>
					    </tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<br>
		<div class="col-md-6">
			<fieldset>
				<legende class="form-control"><center><strong><i>Thèmes</i></strong></center></legende>
				<table class="table table-bordered table-bordered">
					<tbody>
						<tr>
					        <td width="90%"><i class="fa fa-database"></i> Text et couleurs</td>
					        <td width="10%" class="text-center">
					        	<i class="fa fa-download" id="synchr-params-couleur"></i>
					        	<img src="datas/images/loader.gif" class="loader-gif" width="15">
					        </td>
					    </tr>
						<tr>
					        <td width="90%"><i class="fa fa-database"></i> Logos</td>
					        <td width="10%" class="text-center">
					        	<i class="fa fa-download" id="synchr-params-logos"></i>
					        	<img src="datas/images/loader.gif" class="loader-gif" width="15">
					        </td>
					    </tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		<div class="col-md-6">
			<fieldset>
				<legende class="form-control"><center><strong><i>Equipements de saisie</i></strong></center></legende>
				<table class="table table-bordered table-bordered">
					<tbody>
						<tr>
					        <td width="90%"><i class="fa fa-database"></i> Liste(s) et page(s)</td>
					        <td width="10%" class="text-center">
					        	<i class="fa fa-download" id="synchr-donne-liste"></i>
					        	<img src="datas/images/loader.gif" class="loader-gif" width="15">
					        </td>
					    </tr>
					    <tr>
					        <td width="90%"><i class="fa fa-database"></i> code HTML de mask</td>
					        <td width="10%" class="text-center">
					        	<i class="fa fa-download" id="synchr-code-html"></i>
					        	<img src="datas/images/loader.gif" class="loader-gif" width="15">
					        </td>
					    </tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
</div>

{% include 'st_footer.html' %}